//
// overriding a few bootstrap variables

$grid-columns:      12;
$grid-gutter-width: 4em;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
  );

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1296px
);

//
// imports

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "_mixins.scss";
@import "_fonts.scss";

//
// mixins

@mixin bg-img-logo-minto {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 457.39 152.89'%3E%3Cg fill='%23fff'%3E%3Cpath d='m449.78 121.75c-4.87-1.11-6.12-2.37-6.12-4.32 0-1.99 1.67-3.29 4.55-3.29 2.97 0 4.92 1.67 5.2 4.27h2.87c-.23-4.5-3.85-6.87-8.07-6.87-4.65 0-7.43 2.84-7.43 6.04 0 3.01 2.13 5.38 6.96 6.4 4.92 1.02 6.77 2.28 6.77 4.69 0 2.87-2.78 4.31-5.38 4.31-3.71 0-5.8-1.53-6.36-5.01h-2.87c.46 4.82 3.85 7.7 9.14 7.7 5.01 0 8.35-3.25 8.35-7.2 0-3.67-2.37-5.52-7.61-6.72'/%3E%3Cpath d='m425.7 111.54c-6.08 0-11 4.82-11 12.07 0 7.24 4.5 12.06 11.04 12.06 5.52 0 8.73-3.15 9.88-7.84h-2.87c-.79 2.6-2.51 5.15-6.96 5.15-4.64 0-7.84-3.52-7.93-8.81h18.37v-1.4c0-7.06-4.5-11.23-10.53-11.23m-7.84 10.21c.47-4.36 3.34-7.52 7.84-7.52 4.13-.09 7.56 3.18 7.66 7.32v.2z'/%3E%3Cpath d='m408.35 103.46c-1.22.02-2.21 1-2.23 2.22.02 1.22 1 2.21 2.23 2.23 1.22-.02 2.21-1.01 2.23-2.23-.03-1.21-1.01-2.2-2.23-2.22'/%3E%3Cpath d='m406.91 135.21h2.88v-23.21h-2.88z'/%3E%3Cpath d='m397.12 106.11-2.88-1.07v6.96h-4.36v2.41h4.36v15.82c0 3.06 1.58 5.43 5.1 5.43 1.06.02 2.11-.14 3.11-.46v-2.36c-.71.27-1.46.41-2.23.42-1.99 0-3.11-.97-3.11-3.43v-15.41h5.33v-2.42h-5.33v-5.89z'/%3E%3Cpath d='m384.36 103.46c-1.22.02-2.21 1-2.23 2.22.02 1.22 1 2.21 2.23 2.23 1.22-.02 2.21-1.01 2.23-2.23-.02-1.21-1.01-2.2-2.23-2.22'/%3E%3Cpath d='m382.92 135.21h2.88v-23.21h-2.88z'/%3E%3Cpath d='m369.28 111.54c-3.29.06-6.35 1.68-8.26 4.36v-3.9h-2.88v23.2h2.88v-15.45c1.81-3.25 4.68-5.52 7.61-5.52 3.39 0 5.29 1.99 5.29 5.06v15.92h2.88v-16.34c0-4.69-2.88-7.33-7.52-7.33'/%3E%3Cpath d='m349.14 127.45c-1.63 3.2-4.55 5.52-7.61 5.52-3.39 0-5.29-2-5.29-5.06v-15.91h-2.87v16.06c0 4.97 2.88 7.61 7.51 7.61 3.29-.06 6.35-1.68 8.26-4.36v3.9h2.88v-23.21h-2.88z'/%3E%3Cpath d='m320.7 111.54c-2.98 0-5.8 1.39-7.61 3.76-.97-2.32-2.78-3.76-6.03-3.76-2.88.12-5.54 1.58-7.19 3.94v-3.48h-2.88v23.2h2.88v-16.19c1.25-2.18 3.62-4.78 6.63-4.78 2.51 0 4.17 1.72 4.17 4.97v16.01h2.88v-16.75c1.39-2.37 3.94-4.22 6.45-4.22 2.78 0 4.36 1.48 4.36 4.78v16.19h2.88v-16.89c0-4.23-2.37-6.78-6.54-6.78'/%3E%3Cpath d='m284.32 111.54c-2.98 0-5.8 1.39-7.61 3.76-.97-2.32-2.78-3.76-6.03-3.76-2.88.12-5.54 1.58-7.19 3.94v-3.48h-2.88v23.2h2.88v-16.19c1.25-2.18 3.62-4.78 6.63-4.78 2.51 0 4.17 1.72 4.17 4.97v16.01h2.88v-16.75c1.39-2.37 3.94-4.22 6.45-4.22 2.78 0 4.36 1.48 4.36 4.78v16.19h2.88v-16.89c0-4.23-2.37-6.78-6.54-6.78'/%3E%3Cpath d='m244.04 111.54c-6.96 0-11.65 5.15-11.65 12.07 0 6.91 4.68 12.06 11.65 12.06s11.65-5.15 11.65-12.06-4.69-12.07-11.65-12.07m0 21.43c-4.64 0-8.77-3.16-8.77-9.37s4.13-9.37 8.77-9.37 8.77 3.16 8.77 9.38c0 6.21-4.13 9.37-8.77 9.36'/%3E%3Cpath d='m214.76 105.13c5.62 0 9.6 2.93 10.95 7.79h3.02c-.84-6.03-6.22-10.67-14.02-10.67-8.82 0-15.78 6.73-15.78 16.7s6.96 16.71 15.78 16.71c7.79 0 13.18-4.64 14.01-10.67h-3.01c-1.35 4.87-5.34 7.79-10.95 7.79-7.75 0-12.67-5.84-12.67-13.82s4.92-13.83 12.67-13.83'/%3E%3Cpath d='m457.39 54.43c0-15.37-11.14-26.82-27.34-26.82-16.1 0-27.24 11.45-27.24 26.83s11.14 26.82 27.24 26.82c16.2 0 27.34-11.46 27.34-26.83m-42.82 0c0-10.52 6.71-16.41 15.48-16.41 8.87 0 15.58 5.88 15.58 16.41s-6.7 16.41-15.58 16.41c-8.77 0-15.48-5.88-15.48-16.41'/%3E%3Cpath d='m373.29 66.92c0 9.7 5.78 14.34 14.24 14.34 2.92.04 5.84-.3 8.67-1.03v-9.38l-.31-.21c-1.58.43-3.21.64-4.85.62-3.92 0-5.88-1.96-5.88-5.36v-27.98h11.56v-9.29h-11.56v-11.34l-10.93-3.81h-.93v15.17h-9.6v9.29h9.6z'/%3E%3Cpath d='m345.13 47.73v32.5h11.76v-35.5c0-10.11-6.19-17.13-17.44-17.13-6.68.09-13.05 2.88-17.64 7.74v-6.71h-11.76v51.59h11.76v-33.63c3.2-4.74 8.25-8.67 13.83-8.67 6.19 0 9.49 3.51 9.49 9.81'/%3E%3Cpath d='m291.89 21.93c4.04-.02 7.31-3.29 7.32-7.33-.01-4.04-3.28-7.31-7.32-7.33-4.05.05-7.29 3.37-7.24 7.41.04 3.99 3.26 7.2 7.24 7.25'/%3E%3Cpath d='m286 80.23h11.86v-51.59h-11.86z'/%3E%3Cpath d='m211.82 45.56c2.79-4.23 6.81-7.64 11.45-7.64 5.16 0 7.33 3.2 7.33 8.15v34.15h11.76v-35.38c2.89-4.44 6.6-6.92 11.24-6.92 5.16 0 7.54 3.1 7.54 7.95v34.36h11.76v-37.35c0-9.08-5.26-15.27-15.89-15.27-6.4 0-11.97 2.58-16.82 7.33-2.38-4.64-6.3-7.33-12.9-7.33-5.95 0-11.61 2.6-15.48 7.12v-6.09h-11.76v51.59h11.76v-34.67z'/%3E%3Cpath d='m148.46 64.07c-8.86.03-17.33-3.59-23.43-10.02 6.02-3.31 12.78-5.04 19.65-5.04 1.04 0 2.07.04 3.09.12-.93-2.44-1.99-4.83-3.16-7.16-26.46.07-47.88 21.52-47.9 47.98v13h.01c.23 10.87 3.72 21.12 10.22 28.97 1.13 1.37 2.35 2.66 3.66 3.86-2.13 1.23-4.33 2.34-6.58 3.34-.21.09-.42.18-.62.27l-.61.26c-.06.03-.13.05-.18.07-.74-.78-1.45-1.58-2.15-2.43-8.18-10.01-12.63-22.55-12.59-35.48v-12.36c.04-29.27 22.45-53.66 51.61-56.16-1.54-2.25-3.2-4.42-4.98-6.5-6.72 1.04-13.22 3.15-19.26 6.27.05-6.65 2.16-13.12 6.04-18.52-1.9-1.38-3.86-2.68-5.89-3.89-4.71 6.65-7.23 14.61-7.2 22.76 0 1.26.06 2.52.18 3.77-3.48 2.39-6.71 5.13-9.65 8.16-3.65 3.76-6.75 8.01-9.21 12.63l-.26-.08c2.69-11.99 5.91-22.46 6.98-25.84 2.66-8.93 5.95-17.66 9.84-26.12-2.16-.91-4.37-1.73-6.63-2.44-1.72 3.76-3.31 7.57-4.79 11.43-2.59-4.14-4.13-8.86-4.46-13.73-2.33-.43-4.7-.75-7.1-.96.24 8.32 3.3 16.32 8.67 22.67-1.53 4.53-2.91 9.11-4.13 13.74-8.19-10.66-13.34-23.31-14.94-36.64-2.37.11-4.71.33-7.02.65 1.94 16.53 8.87 32.07 19.87 44.56-3.16 14.53-4.75 29.37-4.74 44.24h.01v13.5h.01c.24 15.31 5.37 29.22 13.62 39.56-3.03.83-6.12 1.44-9.24 1.85-.01 0-.03 0-.04 0-3.68-5.26-6.62-11-8.73-17.06-2.16 6.07-5.14 11.81-8.84 17.07-.02 0-.03 0-.05 0-3.12-.4-6.21-1.02-9.24-1.85 8.25-10.34 13.37-24.24 13.62-39.56h.01v-13.5c.03-29.68-6.27-59.02-18.47-86.07-2.26.71-4.47 1.52-6.64 2.42 3.76 8.28 6.95 16.8 9.56 25.51.7 2.19 4.28 13.49 7.23 26.6l-.26.09c-1.2-2.3-2.59-4.51-4.13-6.6-4.15-5.51-9.16-10.32-14.84-14.23.12-1.25.18-2.51.18-3.77.03-8.18-2.51-16.15-7.24-22.82-2.02 1.2-3.99 2.49-5.9 3.88 3.91 5.41 6.04 11.91 6.09 18.59-6.08-3.14-12.63-5.26-19.39-6.3-1.78 2.08-3.44 4.25-4.98 6.51 29.22 2.43 51.71 26.85 51.75 56.17v12.37c.03 12.93-4.44 25.48-12.64 35.48-.69.83-1.4 1.64-2.13 2.41-.05-.02-.09-.04-.14-.05l-.61-.26c-.21-.09-.41-.18-.62-.27-2.27-1-4.48-2.12-6.62-3.36 1.29-1.2 2.51-2.48 3.63-3.84 6.51-7.86 9.98-18.11 10.21-28.97h.01v-13c-.06-26.48-21.52-47.95-48.01-47.98-1.18 2.33-2.23 4.73-3.17 7.17 1.05-.08 2.1-.13 3.16-.13 6.87-.01 13.63 1.73 19.66 5.04-6.1 6.42-14.58 10.05-23.43 10.02-1.12 0-2.25-.06-3.37-.18-.38 2.3-.66 4.64-.83 7 1.39.15 2.79.22 4.19.23 11.21.04 21.9-4.73 29.36-13.1 9.71 7.76 15.36 19.51 15.36 31.94v11.87h-44.72c10.22 28.94 36.74 48.99 67.38 50.92l.22.01c.4.02.8.04 1.21.06.22.01.44.02.66.02.32.01.64.02.97.03.46.01.92.02 1.38.02h.32c.64 0 1.27-.01 1.9-.02h.13c31.68-.86 59.55-21.15 70.09-51.04h-44.7v-11.88c0-12.43 5.65-24.18 15.36-31.93 7.46 8.37 18.15 13.14 29.36 13.1 1.38 0 2.75-.07 4.12-.22-.17-2.36-.45-4.7-.83-7-1.09.11-2.19.17-3.29.17'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

@mixin dark-section {
	background-color: #000;
	color: #E2D99B;
}

//
// animated section

@keyframes animate-in {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.ec-animated-item {
	opacity: 0;
	transform: translateY(-10px);
}

.ec-animated .ec-animated-item {
	animation: animate-in .4s ease-out;
	animation-fill-mode: both;

	&.ec-animate-order-1 {
		animation-delay: 0;
	}

	&.ec-animate-order-2 {
		animation-delay: .2s;
	}

	&.ec-animate-order-3 {
		animation-delay: .4s;
	}

	&.ec-animate-order-4 {
		animation-delay: .6s;
	}
}


//
// global style rules incl. form controls and buttons

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Maison Neue',sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	color: #000;
	background-color: #fff;

	@include media-breakpoint-up(sm) {
		font-size: 16px;
	}

	@include media-breakpoint-up(md) {
		font-size: 8.75px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 11.75px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 14px;
	}

	@include media-breakpoint-up(xxl) {
		font-size: 16px;
	}
}

a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: inherit;
	margin-bottom: 1rem;
}

.oj-img ,
.oj-svg {
	width: 100%;
}

.form-control {
	border-color: #000;
	border-radius: 0;
	color: #000;
	padding: 1.25rem 0.75rem;

	&::placeholder {
		color: #000;
	}
}

.form-check {
	position: relative;

	.form-check-input {
		appearance: none;
		position: absolute;
		width: 1em;
		height: 1em;
		border: 1px solid #D5D5D5;
		outline: none;

		&:focus {
			border-color: #000;
		}

		&:checked::before {
			content: '';
			position: absolute;
			width: 30%;
			height: 50%;
			transform: translate(-50%,-65%) rotate(45deg);
			border: solid #FA213E;
			border-width: 0 0.2em 0.2em 0;
			left: 50%;
			top: 50%;
		}
	}

	.form-check-label {
		margin: 0 0 0 1em;
		font-size: 0.7em;
		line-height: 1.5;
	}
}

.oj-btn,
.oj-btn:hover {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	border-width: 0;
	padding: 0;
	cursor: pointer;

	&,
	&:hover {
		color: inherit;
	}
}


//
// navbar

.oj-navbar {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@include dark-section;
	color: #fff;
	transform: translateY(-60px);
	transition: transform ease 200ms;
	font-family: 'helvetica neue',sans-serif;

	&.oj-shown {
		transform: none;
	}

	@include media-breakpoint-down(sm) {
		height: 60px;
	}

	@include media-breakpoint-up(md) {
		height: 60px;
	}

	.navbar-brand {
		display: flex;
		margin: 0 auto;
		padding: 0;
		width: 150px;
		height: 40px;

		.oj-svg {
			width: 100%;
		}
	}

	.oj-btn {
		position: absolute;
		right: 30px;
		font-size: 20px;
		font-weight: 700;
	}
}

main {
	overflow-x: hidden;
}


//
// main section-specific styling

.oj-header {

	@include media-breakpoint-down(sm) {
		margin-top: 0.75em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 55px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;

		.oj-logotype {
			margin-right: auto;

			@include media-breakpoint-down(sm) {
				width: 9.375em;
			}

			@include media-breakpoint-up(md) {
				width: 20em;
			}
		}

		.oj-slogan {
			margin: 2em 2.25em 0 0;
			font-family: 'helvetica neue',sans-serif;
			font-size: 1.1em;
			font-weight: 700;
			line-height: 1;
		}

		.oj-logomark {
			width: 4em;
		}
	}
}

main .oj-heading {
	font-family: 'Bebas Neue',sans-serif;
	font-weight: 400;
	line-height: 1.325;

	@include media-breakpoint-down(sm) {
		font-size: 3em;
	}

	@include media-breakpoint-up(md) {
		font-size: 6em;
	}

	span {
		display: block;

		&.oj-accent {
			color: #FA213E;
		}
	}
}

main .oj-copy {
	line-height: 1.65;
	margin-top: 0.325em;
	margin-bottom: 1em;

	@include media-breakpoint-down(sm) {
		font-size: 1.25em;
		hyphens: auto;
	}

	@include media-breakpoint-up(md) {
		font-size: 1.9em;
	}
}

main .oj-btn {
	display: inline-block;
	font-family: 'Bebas Neue',sans-serif;
	font-weight: 400;
	line-height: 1.325;
	color: inherit;
	text-decoration: underline;
	cursor: pointer;

	@include media-breakpoint-down(sm) {
		font-size: 2em;
	}

	@include media-breakpoint-up(md) {
		font-size: 4em;
	}

	&:hover {
		text-decoration: underline;
		color: #FA213E;
	}
}

.oj-hero {

	@include media-breakpoint-down(sm) {
		margin-top: 0.75em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 3.5em;
	}

	.oj-video {
		width: 100%;
	}
}

.oj-the-new-hamilton {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}
}

.oj-home-to-hero {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: -1.5em;
	}
}

.oj-home-to {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}

	.oj-heading-col {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			padding-left: 3em;
		}

		.oj-heading {

			@include media-breakpoint-up(md) {
				font-size: 4em;
				line-height: 1;
			}
		}

		.oj-btn {
			margin-top: auto;
		}
	}

	.oj-copy-col {
		padding-right: 3em;

		.oj-copy {

			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
	}
}

.oj-scroller {
	background-attachment: fixed;
	background-image: url('../img/bg.svg');
	background-size: 100vw;
	background-position: 50% 0;
	
	@include media-breakpoint-down(sm) {
		background-repeat: repeat-y;
	}

	@include media-breakpoint-up(md) {
		background-repeat: no-repeat;
	}

	&.oj-scroller-1 {

		@include media-breakpoint-down(sm) {
			height: 8em;
			margin-top: 4em;
		}

		@include media-breakpoint-up(md) {
			height: 25em;
			margin-top: 10em;
		}

		.oj-img-col {

			@include media-breakpoint-down(sm) {
				margin-top: -2em;
			}

			@include media-breakpoint-up(md) {
				padding-left: 3em;
				margin-top: -4em;
			}
		}
	}

	&.oj-scroller-2 {

		@include media-breakpoint-up(md) {
			height: 33em;
			margin-top: -3em;
			margin-bottom: -10em;
		}
	}

	&.oj-scroller-3 {

		@include media-breakpoint-down(sm) {
			height: 8em;
			margin-top: -4em;
		}

		@include media-breakpoint-up(md) {
			height: 25em;
			margin-top: -19em;
		}
	}
}

.oj-come-home {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}

	.oj-heading-col {
		display: flex;
		flex-direction: column;

		.oj-heading {
		}

		.oj-btn {
			margin-top: auto;
		}
	}

	.oj-copy-col {

		@include media-breakpoint-up(md) {
			padding-left: 2em;
		}

		.oj-copy {

			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
	}
}

.oj-visit-hamilton {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}

	.oj-img-col {

		@include media-breakpoint-up(md) {
			margin-top: 6em;
			padding-right: 3em;
		}
	}

	.oj-copy-col {

		@include media-breakpoint-down(sm) {
			margin-top: 2em;
		}

		@include media-breakpoint-up(md) {
			margin-top: 5em;
			padding-left: 5em;
		}

		.oj-copy {

			@include media-breakpoint-up(md) {
				line-height: 1.55;
			}
		}

		.oj-heading {

			@include media-breakpoint-up(md) {
				line-height: 1;
			}
		}
	}
}

.oj-easy-connections-1 {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	.oj-heading-col {

		@include media-breakpoint-up(md) {
			margin-top: 20em;
		}

		.oj-img {

			@include media-breakpoint-down(sm) {
				margin-bottom: 2em;
			}
		}

		.oj-heading {

			@include media-breakpoint-up(md) {
				line-height: 1.3;
			}
		}
	}

	.oj-copy-col {

		@include media-breakpoint-up(md) {
			padding-left: 4em;
		}

		.oj-img {

			@include media-breakpoint-up(md) {
				margin-bottom: 5em;
			}
		}

		.oj-copy {

			@include media-breakpoint-down(sm) {
				margin-bottom: 2em;
			}

			@include media-breakpoint-up(md) {
				margin-bottom: 3em;
			}
		}
	}
}

.oj-easy-connections-2 {

	@include media-breakpoint-down(sm) {
		margin-top: 2em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}

	.oj-copy-col {

		@include media-breakpoint-up(md) {
			padding-right: 7em;
		}

		.oj-img {

			@include media-breakpoint-up(md) {
				margin-top: 3em;
				margin-left: -8em;
				width: calc(100% + 8em);
			}
		}
	}
	.oj-img-col {

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}

.oj-register {

	@include media-breakpoint-up(md) {
		background-attachment: scroll, fixed;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1300 1300'%3E%3Cpath fill='%23fff' d='m0 0v1300h1300v-1300zm139.2 352.5 265.7-152.5v91.8l-265.7 152.5zm265.7 745.7h-85.7v-655l85.6-49.2zm278.2 1.8v-89.2c123.7 0 223.9-100.3 223.9-223.9h89.2c0 172.9-140.2 313.1-313.1 313.1zm313.1-439.9-89.2-25.3v-434.8h89.2z'/%3E%3C/svg%3E%0A"), url('../img/bg.svg');
		background-size: 110em;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.oj-form-col {

		@include media-breakpoint-down(sm) {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		@include media-breakpoint-up(md) {
			margin-top: 10em;
			margin-bottom: 15em;
		}

		.oj-heading {
			text-align: center;
			margin-bottom: 0.5em;

			@include media-breakpoint-down(sm) {
				font-size: 3em;
			}

			@include media-breakpoint-up(md) {
				font-size: 4em;
			}
		}

		.oj-img {

			@include media-breakpoint-down(sm) {
				margin-bottom: 2em;
				width: 16em;
			}

			@include media-breakpoint-up(md) {
				margin-bottom: 6em;
			}
		}

		#oj-register-form {
			position: relative;

			.oj-form-error-container,
			.oj-form-success-container {
				position: absolute;
				width: 100%;
				left: 0;
				top: 10em;
				text-align: center;
				opacity: 0;
				pointer-events: none;
			}

			&.oj-success,
			&.oj-error {
				.oj-form-container {
					opacity: 0;
				}
			}

			&.oj-success .oj-form-success-container,
			&.oj-error .oj-form-error-container {
				opacity: 1;
			}
		}

		.form-control {
			font-family: 'Bebas Neue',sans-serif;
			font-weight: 400;
			height: 1em;
			line-height: 1.325;
			color: inherit;
			margin: 0;
			padding: 0;
			border: 0 none;
			outline: none;
			box-shadow: none;
			text-align: center;
			transition: color ease 200ms;

			@include media-breakpoint-down(sm) {
				font-size: 3em;
			}

			@include media-breakpoint-up(md) {
				font-size: 4em;
			}

			&::placeholder {
				color: #d5d5d5;
				transition: color ease 200ms;
			}

			&.is-invalid,
			&.is-valid {
				background-image: none;
			}
		}

		.form-text {
			text-align: center;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0.25em;
		}

		.oj-form-toggle {
			text-align: center;

			.oj-form-toggle-label {
				font-family: 'Bebas Neue',sans-serif;
				font-weight: 400;
				line-height: 1.325;
				text-align: center;

				@include media-breakpoint-down(sm) {
					font-size: 2em;
				}

				@include media-breakpoint-up(md) {
					font-size: 2.5em;
				}
			}

			.oj-form-toggle-option {
				display: inline-block;
				margin: 0 0.1em;
				font-family: 'Bebas Neue',sans-serif;
				font-weight: 400;
				line-height: 1.325;
				text-align: center;
				color: #D5D5D5;
				transition: color ease 200ms;
				cursor: pointer;

				@include media-breakpoint-down(sm) {
					font-size: 3em;
				}

				@include media-breakpoint-up(md) {
					font-size: 4em;
				}
			}

			.oj-form-toggle-input[value='true'] ~ .oj-yes,
			.oj-form-toggle-input[value='false'] ~ .oj-no {
				color: #FA213E;
			}
		}

		.form-check {
			position: relative;

			@include media-breakpoint-down(sm) {
				margin: 1em 1em;
			}

			@include media-breakpoint-up(md) {
				margin: 2em 5.9em;
			}

			.form-check-input {
				appearance: none;
				position: absolute;
				border: 1px solid #D5D5D5;
				outline: none;

				@include media-breakpoint-down(sm) {
					width: 2em;
					height: 2em;
				}

				@include media-breakpoint-up(md) {
					width: 2.5em;
					height: 2.5em;
				}

				&:focus {
					border-color: #000;
				}

				&:checked::before {
					content: '';
					position: absolute;
					width: 30%;
					height: 50%;
					transform: translate(-50%,-65%) rotate(45deg);
					border: solid #FA213E;
					border-width: 0 0.2em 0.2em 0;
					left: 50%;
					top: 50%;
				}
			}

			.form-check-label {
				line-height: 1.4;

				@include media-breakpoint-down(sm) {
					font-size: 0.9em;
					margin: 0.125em 0 0 1.75em;
				}

				@include media-breakpoint-up(md) {
					font-size: 1.1em;
					margin: 0 0 0 2.25em;
				}
			}
		}
		.oj-btn {

			@include media-breakpoint-down(sm) {
				font-size: 3em;
			}
		}
	}
}

.oj-footer {
	background-color: #000;
	color: #fff;
	font-family: 'helvetica neue',sans-serif;
	font-size: 1.15em;
	font-weight: 300;

	a {
		transition: color 200ms ease;

		.oj-svg {
			fill: #fff;
			transition: fill 200ms ease;
		}

		&:hover {
			color: #CCAD5D;
			text-decoration: none;

			.oj-svg {
				fill: #CCAD5D;
			}
		}
	}

	.oj-logo-col {
		margin-top: 4em;
		margin-bottom: 2.5em;

		.oj-logo .oj-svg {
			width: 6em;
		}
	}

	.oj-contact-col {
		.oj-social {
			margin-top: 1em;

			.oj-svg {
				display: inline-block;
				width: 1em;
				height: 1em;
				margin-right: 0.5em;
			}
		}
	}

	.oj-newsletter-col {

		@include media-breakpoint-down(sm) {
			margin-top: 2em;
		}

		.oj-heading {
			margin-bottom: 0.5em;
			font-size: inherit;
			text-transform: uppercase;
		}

		.oj-copy {
			margin-bottom: 0;
		}

		#oj-footer-form {
			position: relative;

			.oj-form-error-container,
			.oj-form-success-container {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				pointer-events: none;
			}			
			&.oj-error .oj-form-container,
			&.oj-success .oj-form-container {
				opacity: 0;
			}			
			&.oj-error .oj-form-error-container,
			&.oj-success .oj-form-success-container {
				opacity: 1;
			}			
		}

		.form-control {
			padding-left: 0;
			background-color: transparent;
			border-color: #2e2e2e;
			border-width: 0 0 1px 0;
			color: #fff;
			box-shadow: none;

			&:focus {
				border-color: #888;
			}

			&::placeholder {
				color: #888;
				font-weight: 300;
			}
		}

		.form-check {
			margin-bottom: 1em;

			.form-check-input {
				border-color: #2e2e2e;

				&:focus {
					border-color: #888;
				}

				&:checked::before {
					left: 50%;
					top: 50%;
					width: 40%;
					height: 65%;
					border-color: #fff;
					border-width: 0 0.2em 0.2em 0;
				}
			}

			.form-check-label {
				margin: 0 0 0 1em;
				font-size: 0.7em;
				line-height: 1.5;
			}
		}

		.oj-btn {
			font-weight: 500;
			letter-spacing: 1px;
		}
	}

	.oj-copyright-col {
		margin-top: 2em;
		margin-bottom: 3em;
		font-size: 0.7em;
	}
}

